.card-container{
    display: flex;
    flex-direction: row;
    background-color: white;
    padding:10px;
    margin-bottom:10px;
    /* align-items:self-end; */
}

.img-container{
    height: 40px;
}

img{
    height:100%;
    width:auto;
    vertical-align: baseline;
    
}

.content-container{
    padding-left: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.heading{
    display:flex;
    flex-direction: row;
    gap: 7px;
}

.userName, .date{
    color: grey;
}

.tweet{
    text-align: left;
}