*{
  padding:0;
  margin:0;
  font-family: "Tinos";
}

.App {
  text-align: center;
  box-sizing: border-box;
}

.page{
  display: flex;
  flex-direction: row;
  background-color: #e6edf1;
}

.sidebar-container{
  color:white;
  width:30%;
  height:100dvh;
  padding:10px;
}

.cards-container{
  color:rgb(0, 0, 0);
  width:70%;
  height:100dvh;
  padding:10px;
}

.left-navbar * {
  display: flex;
  flex-direction: row;
}

.left-navbar li {
  margin: 20px;
}

.left-navbar li a {
  color: rgb(88, 85, 85);
  text-decoration: none;
  font-size: 20px;
}

.left-navbar li a img {
  height: 15px;
  width: auto;
}

@media screen and (max-width: 1200px) {
  .sidebar-container{
    width:35%;
    padding:5px;
  }

  .cards-container{
    width:65%;
    padding:5px;
  }

  .page{
    font-size: 12px;
  }
  
}

@media screen and (max-width: 768px) {
  .sidebar-container{
    width:30%;
  }

  .cards-container{
    width:70%;
  }

  .page{
    font-size: 12px;
  }

  .page{
    font-size: 10px;
  }

  .left-navbar li a {
    font-size: 12px;
  }

  .left-navbar li a img {
    height: 10px;
    width: auto;
  }
  
}

@media screen and (max-width: 480px) {
  .sidebar-container{
    width:100%;
    height: fit-content;
  }

  .cards-container{
    width:100%;
  }

  .page{
    flex-direction: column;
  }

  .page{
    font-size: 17px;
  }

  .left-navbar li{
    display:none;
  }
  
}