.profile-card-container{
    background-color: white;
    height:350px;
    display: flex;
    flex-direction: column;
    text-align: center;
    position: relative;
}

.profile-img-container{
    position: absolute;
    top:39.5%;
    left: 20px;
    
}

.profile-img{
    height:100px;
    width: auto;
    border: 4px solid white;
    border-radius: 50%;
}

.profile-banner-container{
    background-color: black;
    color: white;
    font-size: calc(30px + 1vw);
    display: flex;
    justify-content: center;
    align-items: center;
    height:47%;
}

.details-container{
    background-color: rgb(253, 253, 253);
    color: rgb(0, 0, 0);
    height:53%;
}

.name-details{
    height:30%;
    padding:20px;
    /* position: absolute;
    right:50%; */
}

.profile-details{
    height:70%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding:40px 20px;
    text-align: left;
}

.detail-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.detail-content{
    color:#48b3f5;
}

.username{
    color: gray;
}

@media screen and (max-width: 1200px) {
    .profile-card-container{
        height:300px;
    }

    .profile-img{
        height: calc(60px + 2vw);
        width: auto;
        border: 3px solid white;
    }

    .name-details{
        padding:10px;
    }
  }

  @media screen and (max-width: 768px) {
    .profile-card-container{
        height:250px;
    }

    .profile-banner-container{
        font-size: calc(12px + 1.5vw);
    }

    .profile-img-container{
        position: absolute;
        top:39.5%;
        left: 10px;
        
    }

    .profile-img{
        height: calc(40px + 2vw);
        width: auto;
        border: 2px solid white;
    }

    .name-details{
        padding:7px;
        text-align: right;
    }

    .profile-details{
        padding:28px 7px;

    }
  }

  @media screen and (max-width: 480px) {
    .profile-card-container{
        height:100px;
    }

    .profile-banner-container{
        display: none;
    }

    .profile-img{
        display: none;
    }

    .name-details{
        display: none;
    }
  }